.footer{
    height: 17px;
    color: #6c6c6c;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    padding: 9px 32px;
}
body>.footer a {
    color: #6c6c6c;
    text-decoration: none;
}
.footer a:hover {
    color: #333;
    text-decoration: underline;
