main{
    min-height: 450px;
    width: 100%;
    background-color: white;
    display: table;
}
h1{
    color: #555555;
    margin-top: -5px;
    font-size: 24px;
}
p{
    color: #A76E52;
}
.name{
    padding-top: 24px;
}
.sub-tittle{
    margin-top: -15px;
}
.left-side{
    float: left;
    margin: 18px 36px 18px 42px;
    width: 160px;
    font-size: 13px;
    line-height: 1.5;
    white-space: normal;
    word-wrap: break-word;
    position: relative;
    z-index: 2;
}
.right-side{
    width: 95%;
}
.top-side{
    width: 100%;
    min-height: 100px;
    background-color: #eee;
    margin-bottom: 10px;
}
.post{
    position: relative;
    margin-bottom: 9px;
}
.inside-post{
    background-color:#eee;
    border:1px solid #ddd;
    padding: 10px;
    border-radius: 3px;
    margin-right: 25px;
}
.inside-post button:hover{
    cursor: pointer;
}
.inside-comment{
    width: 100%;
    margin-bottom: 3px;
    max-height: 300px;
    overflow: hidden;
    overflow-wrap:break-word;
    height: 59px;
    rows:="3";
}
div .inside-post a{
    text-decoration: none;
    font-size: 13px;
    color: #555555;
}
div .inside-post a:hover{
    text-decoration: underline;
}
.controltabs{
    height: 28px;
    padding-top: 18px;
    position: relative;
    margin: 0;
}
.controltabs li {
    float: left;
}
.controltabs li a.currentControlTab {
    height: 27px;
    background-color: white !important;
    padding-bottom: 0;
    color: #333;
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: #ddd;
}

.controltabs li a {
    display: block;
    font-size: 14px;
    line-height: 26px;
    padding: 1px 8px;
    text-decoration: none;
    color: #666 !important;
    transition-property: background-color,color;
    transition-duration: .2s;
}
div .time{
    position: relative;
    right: 50px;
    float: right;
    top: -60px;
}
li{
    list-style-type: none;
}
.controltabs a{
    text-decoration: none;
}
.follow button{
    height: 24px !important;
    line-height: 20px !important;
    font-size: 13px !important;
    background-color: #FAFAFA;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
}
.follow button:hover{
    cursor: pointer;
}
.media{
    float: left;
    margin-right: 18px;
    padding-top: 50px;
}
.media a{
    text-decoration: none;
}
.media a:hover{
    text-decoration: underline;
}
div .bottom-side{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.left-bottom-side{
    width: calc(65% - 30px);
    height: 150px;

}
.right-bottom-side{
    width: 35%;  
    height: 150px; 
}
.bottom-side{
    background-color: white;
    position: relative;
    top: 0;
    padding: 17px 42px 18px 0px;
    min-height: 296px;
    z-index: 0;
    box-shadow: 0 1px 0px #ddd;
    display: flex;
}
