body{
    font-size: 14px;
    line-height: 1.4;
    color: #111;
    text-align: left;
    font-family: PopuLato, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #eee;
    margin: 0;
    padding: 0;
}
header h1{
    color: white;
    font-size: 25px;
    height: 27px;
    white-space: nowrap;
    padding-top: 20px;
    margin: 19px 0px 15px 18px;
}
.top-header{
    display: flex;
    justify-content: space-between;  
    background-color: #111111;
    height: 45px;
    color: white;
    font-size: 13px;
}
.left-side-header{
    display: flex;
    align-items: center;
    margin: 10px;
}
.left-side-header a{
    margin-left: 2px;
    padding: 5px;
    font-size: 13px;
    color: #ddd;
    text-decoration: none;
    opacity: .5;
}
.left-side-header a:hover{
    color: white;
    opacity: .9;
}
.left-side-header a:active{
    opacity: .9;
}
.right-side-header{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.right-side-header div{
    margin-right: 25px;
}
.right-side-header img{
    width: 26px;
    height: 27px;
    border-radius: 2px;
}
.profile{
    display: flex;
}
.profile i{
    margin-top: 10px;
    padding-left: 1px;
}
header .sub-header{
    background-color: #004878;
    margin-top: -19px;
    height: 94px;
}
#logo {
    float: left;
    height: 27px;
    padding: 3px;
}
nav a{
    float: left;
    margin-left: 10px;
    position: relative;
    color: white;
    opacity: .5;
    display: block;
    line-height: 2.1em;
    text-decoration: none;
    font-size: 14px;
    padding: 0 9px;
    white-space: nowrap;
    transition-property: color, opacity, background;
    transition-duration: .2s;
}
nav a:hover{
    color: white;
    opacity: .9;
    border-bottom: 2px solid white;
}
div .help{
    margin-right:0;
}
.help i{
    width: 20px;
    height: 20px;
    padding: 1px;
    margin-top: 10px;
}
a.active{
    opacity: .9;
}
a.directory{
    opacity: .9;
    border-bottom: 2px solid white;
}
.send-email{
    text-decoration: none;
    color: #0033CC;
}
.send-email:hover{
    text-decoration: underline;
}
